<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Spring simulation</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<link rel="icon" href="/static/spring.png">
	</head>
	<body>
		<div class="container-fluid">
			<div class="jumbotron">
				<h2>Computations on a spring network</h2>
				<p>Linear and nonlinear response to percussion, eigenvalues and eigenvectors ...</p>
			</div>
			<div class="row">
				<div class="col">
					<a class="btn btn-primary" href="#" onclick="$('#PhysProp').collapse('hide') ; $('#MeshProp').collapse('show')">Mesh Properties</a>
					<a class="btn btn-primary" href="#" onclick="$('#PhysProp').collapse('show') ; $('#MeshProp').collapse('hide')">Physical Properties</a>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col">
					<div class="collapse {% if form.open_page == 'mesh' %} show {% endif %}" id="MeshProp">
						<div class="card card-body">
							<div class="row">
								<form action="" method="POST">
									<div class="form-group row">
										<label for="n" class="col col-form-label">Poisson Intensity:</label>
										<div class="col">
											<input type="text" class="form-control" id="pi" name="pi" value="{{ form.pi }}">
										</div>
									</div>
									<img src="{{ url_for('static', filename=names.meshname) }}" class="img-fluid">
									<input type="submit" name="button" value="Redraw" class="btn btn-primary">
								</form>
							</div>
						</div>
					</div>
					<div class="collapse {% if form.open_page == 'physics' %} show {% endif %}" id="PhysProp">
						<div class="card card-body">
							<div class="row">
								<form action="" method="POST">
									<div class="form-group row">
										<label for="m" class="col col-form-label">Total Mass:</label>
										<div class="col">
											<input type="text" class="form-control" id="m" name="m" value="{{ form.m }}">
										</div>
									</div>
									<div class="form-group row">
										<label for="k" class="col col-form-label">Stiffness:</label>
										<div class="col">
											<input type="text" class="form-control" id="k" name="k" value="{{ form.k }}">
										</div>
									</div>
									<div class="form-group row">
										<label for="r" class="col col-form-label">Dissipation:</label>
										<div class="col">
											<input type="text" class="form-control" id="v" name="v" value="{{ form.v }}">
										</div>
									</div>
									<div class="form-group row">
										<label for="tf" class="col col-form-label">Time of Simulation:</label>
										<div class="col">
											<input type="text" class="form-control" id="tf" name="tf" value="{{ form.tf }}">
										</div>
									</div>
									<div class="form-group row">
										<label for="vp" class="col col-form-label">Mass of Impact Object:</label>
										<div class="col">
											<input type="text" class="form-control" id="im" name="im"  value="{{ form.im }}">
										</div>
									</div>
									<div class="form-group row">
										<label for="vp" class="col col-form-label">Velocity at Impact:</label>
										<div class="col">
											<input type="text" class="form-control" id="iv" name="iv"  value="{{ form.iv }}">
										</div>
									</div>
									<div class="form-group row">
										<div class="col">
											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-check-input" name="df" {% if form.df %} checked {% endif %}>Displacement Field
												</label>
											</div>
										</div>
									</div>
									<div class="form-group row">
										<div class="col">
											<div class="form-check">
												<label class="form-check-label">
													<input type="checkbox" class="form-check-input" name="eigen" {% if form.eigen %} checked {% endif %}>Eigenvalues - Eigenvectors
												</label>
											</div>
										</div>
									</div>
									<button type="submit" class="btn btn-primary">Compute</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-9">
					<div id="accordion">
						{% if form.df %}
						<div class="card">
							<div class="card-header" id="headingOne">
								<h5 class="mb-0">
									<button class="btn btn-link" data-toggle="collapse" data-target="#DFCollapse" aria-expanded="false" aria-controls="DFCollapse">
										Displacement Field
									</button>
								</h5>
							</div>
							<div id="DFCollapse" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="card-body">
									<div align="center" class="embed-responsive embed-responsive-16by9">
										<video autoplay loop controls class="embed-responsive-item">
											<source src="{{ url_for('static', filename=names.dfname) }}" type="video/mp4">
										</video>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
						{% if form.eigen %}
						<div class="card">
							<div class="card-header" id="headingTwo">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#EVCollapse" aria-expanded="false" aria-controls="EVCollapse">
										Eigenvalues - Eigenvectors
									</button>
								</h5>
							</div>
							<div id="EVCollapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="card-body">
									{% if form.video %}
									<div align="center" class="embed-responsive embed-responsive-16by9">
										<video autoplay controls loop class="embed-responsive-item">
											<source src="{{ url_for('static', filename=names.eigenname) }}" type="video/mp4">
										</video>
									</div>
									{% else %}
									<img id="eigenframeimg" src="{{ url_for('static', filename=names.eigendir) ~ "/0.png" }}">
									<div class="slidecontainer">
										<input type="range" min="0" max="{{ numbereigframes - 1 }}" value="0" class="slider" id="eigslider">
									</div>
									{% endif %}
								</div>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		<script> var eigenprefix = "{{ url_for('static', filename=names.eigendir) }}" + '/'
																eigslider.oninput = function() {
																document.getElementById("eigenframeimg").src=eigenprefix + this.value + '.png'; } </script>
	</body>
</html>
